<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.firstname %>, you've been deleted from Rotten Mangoes, </h1>
    <p>
      We apologies but we have had to delete you form Rotten Mangoes due to serious misconduct!<br>
    </p>
    <p>Thanks for understanding and have a great day!</p>
  </body>
</html>