<h1>List of all users</h1>


<%= paginate @users %>

<% @users.each do |user| %>

  <table>
    <tr>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= link_to "delete", admin_user_path(user), method: :delete, confirm: "You sure?"  %></td>
    </tr>
  </table>

<% end %>

